* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins ,sans-serif;
}
.Dashboard {
    width: 100%;
    font-family: sans-serif !important;
}
.menu-line {
    height: 0.5px;
    width: 100%;
    border-bottom: .7px #777 solid;
    margin: 15px 0;
}
.DashboardMenu {
    width: 20%;
    height: 100vh;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
    background-size: cover;
    background-position: -80px;
    position: fixed;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    z-index: 10000;
    text-transform: uppercase;
    transition: width .5s;
}
.DashboardMenu_small {
    width: 80px;
    transition: width .5s;
}
.menufixed {
    position: fixed;
}
.DashboardMenu-disable {
    visibility: hidden;
}
.db-menu-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.75);
    z-index: -10;
}
.db-menu {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.db-menu::-webkit-scrollbar {
    width: 0px;
}
.db-menu-logo {
    margin-top: 5px;
    width: 100%;
    min-height: 24px;
    margin: 10px 0;
}
.logo-text {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 300;
}
.db-menu-user {
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}
.db-menu-user div {
    align-items: center;
    font-size: 12px;
    justify-content: flex-start;
}
.db-menu-name {
    flex-grow: 1;
    text-transform: uppercase;
    margin-left: 35px;
    white-space: nowrap;
}
.db-menu-avt {
    display: flex;
    align-items: center;
}
.db-menu-avt img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-left: 3px;
}
.db-menu-user-opt {
    width: 100%;
    font-size: 14px;
    transition: height .4s;
    height: 0;
    overflow: hidden;
}
.closeOpt {
    height: 125px;
}
.closeOpt div:first-child {
    margin-top: 15px;
}
.db-menu-listitem {
    width: 100%;
}
.db-menu-item {
    font-size: 12px;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    transition: .4s;
}
.db-menu-item:hover {
    background-color: #fff;
    color: #000;
}
.db_menu_active {
    background-color: #fff;
    color: #000;
}
.db-menu-item .icon {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}
.DashboardBody {
    padding: 20px 30px;
    background-color: #eaeaea;
    flex-grow: 1;
    margin-left: 20%;
    transition: .5s;
    min-height: 100vh;
}
.DashboardBody_small {
    margin-left: 80px;
}
.dashboard-header {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
}
.menu-opt {
    cursor: pointer;
    background-color: #fff;
    margin-right: 20px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    color: #aaa;
    border-color: #999;
    transition: box-shadow .3s;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);
}
.menu-opt:hover {
    box-shadow: 0 14px 26px -12px hsla(0,0%,60%,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px hsla(0,0%,60%,.2);
}
.dashboard-header p {
    font-size: 18px;
    font-weight: 300;
    font-family: sans-serif;
    color: #777;
}
.menu-notice {
    color: #777;
    margin-left: 40px;
}
.menu-search div {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #777;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);
}
.menu-search div:hover {
    box-shadow: 0 14px 26px -12px hsla(0,0%,60%,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px hsla(0,0%,60%,.2);
}
.menu-search input {
    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
    background: none;
    outline: none;
    border: none;
    height: 40px;
    border-bottom: 2px solid #ddd;
}
.menu-search input:hover {
    border-bottom: 2px solid #777;
}
.menu-search input:focus {
    border-bottom: 2px solid #777;
}

.dashboard-main {
}
.top-location {
    position: relative;
    padding-top: 20px;
    width: 100%;
    height: 389px;
    margin: 40px 0;
}
.chart {
    position: relative;
    padding-top: 20px;
    width: 70%;
    height: 389px;
}
.top-location-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);
}
.headerbox-header {
    width: 100%;
    height: 50px;
    padding-left: 100px;
}
.headerbox-header p {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    color: #555;
}
.headerbox {
    color: #fff;
    font-size: 20px;
    width: 65px;
    height: 65px;
    background: linear-gradient(60deg,#66bb6a,#43a047);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 20px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(76,175,80,.4);
}
.top-location-content {
    flex-grow: 1;
}
.top-location-list {
    width: 50%;
}
.top-location-div {
    width: 100%;
    border-bottom: 0.5px #ddd solid;
    padding: 15px 10px;
    justify-content: space-between;
    cursor: pointer;
    transition: .3s;
}
.top-location-div:hover {
    background: #eee;
}
.header div {
    color: #000 !important;
    font-weight: 500;
}
.top-location-div div {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777;
}
.top-location-div:last-child {
    border: none;
}
.top-location-div:first-child:hover {
    background: none;
}
.top-location-map {
    width: 50%;
    flex-grow: 1;
    margin-left: 30px;
}

.row {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}
.total-count-item:last-child {
    margin: 0;
}
.total-count-item {
    padding-top: 20px;
    position: relative;
    margin-right: 30px;
    flex-grow: 1;
}
.total-count-item-container {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);
    border-radius: 5px;
    padding: 10px;
}
.count {
    width: 65px;
    height: 65px;
}
.orange {
    background: linear-gradient(60deg,#ffa726,#fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,152,0,.4);
}
.pink {
    background: linear-gradient(60deg,#ec407a,#d81b60);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(233,30,99,.4);
}
.lightblue {
    background: linear-gradient(60deg,#26c6da,#00acc1);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4);
}
.dashboard-count p {
    height: 40px;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 500;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 10px;
}
.total-count-header {
    margin-left: 80px;
}
.total-count-header p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    color: #777;
    margin-top: 10px;
}
.count-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}
.count-status {
    font-size: 14px;
    margin-top: 10px;
}
.count-status p {
    font-family: sans-serif;
    font-weight: 300;
    color: #666;
}
.count-up {
    color: green !important;
    margin-right: 5px;
}


.topfive:last-child {
    margin: 0;
}
.topfive {
    padding-top: 20px;
    position: relative;
    margin-right: 30px;
    width: 50%;
}
.topfive-container {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);
    border-radius: 5px;
    padding: 10px;
}
.topfive-content {
    flex-grow: 1;
}
.topfive-list {
    /* padding-top: 10px; */
    width: 100%;
}
.top-user-name {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777;
}
.top-user {
    align-items: center;
}
.top-user-avt {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}
.topfive-div {
    /* background-color: red; */
    align-items: center;
}
.recentreview {
    /* flex-grow: 1 !important; */
}

.topfive-div {
    width: 100%;
    border-bottom: 0.5px #ddd solid;
    padding: 15px 10px;
    justify-content: space-between;
    cursor: pointer;
    transition: .3s;
}
.topfive-div:hover {
    background: #eee;
}
.topfive-div div {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777;
}
.topfive-div:last-child {
    border: none;
}
.recent-padding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.review-product {
    flex-grow: 1;
    width: 60%;
    margin: 0 10px;
    color: #111;
    font-family: sans-serif !important;
}
.review-product-star {
    /* flex-grow: 2; */
    width: 80px;
}
.review-product-item {
    align-items: flex-end;
}
.review-product-item:first-child {
    margin-bottom: 7px;
}
.review-product-name p {
    margin-right: 26px;
    margin-left: 10px;
    font-size: 14px;
    font-family: sans-serif !important;
}
.review-product-name h5 {
    font-size: 14px;
    font-family: sans-serif !important;
    color: #333;
}
.review-product-time p {
    font-size: 12px;
    font-family: sans-serif !important;
    color: #777;
}
.review-product-item-content {
    color: #777;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    height: 20px;
    margin-left: 10px;
}
.bottom p {
    height: 18px;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
}

.boxchat-admin {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
}
.boxchat-list {
    width: 30%;
    background-color: #fff;
    padding-right: 20px;
}
.boxchat-item {
    margin: 10px 0;
    height: 64px;
    border-radius: 10px;
    padding: 10px;
}
.boxchat-avt {
    margin-right: 10px;
}
.boxchat-avt img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.boxchat-name {
    font-size: 16px;
    text-transform: capitalize;
}
.boxchat-first {
    font-size: 12px;
    color: #777;
    text-transform: capitalize;
}
.boxchat-item:hover {
    background-color: #eee;
}
.boxchat-main {
    width: 70%;
    height: 500px;
    border-left: 1px #ddd solid;
}
.boxchat-box {
    width: 100%;
    height: 90%;
    padding-left: 20px;
}
.boxchat-box-info {
    display: flex;
    height: 36px;
    margin-bottom: 10px;
}
.boxchat-box-avt {
    height: 100%;
    margin-bottom: 20px;
    justify-content: flex-start;
    margin-right: 20px;
}
.boxchat-box-avt img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.boxchat-contents {
    border-top: 1px #ddd solid;
}
.boxchat-contents-item {
    margin-top: 10px;
}
.boxchat-search input {
    width: 100%;
    height: 36px;
    outline: none;
    border: 1px #ddd solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
}
.boxchat-type {
    height: 10%;
    width: 100%;
    padding-left: 20px;
}
.boxchat-type-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.boxchat-type input {
    outline: none;
    border: 1px #ddd solid;
    padding: 0 10px;
    width: 90%;
    height: 70%;
    border-radius: 10px;
    margin-right: 5px;
}
.boxchat-type button {
    width: 10%;
    height: 70%;
    border: none;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.box-chat-clienttext {
    margin: 3px 0;
    clear: right;
}
.box-chat-clienttext p {
    margin: 0;
    border-radius: 15px;
    padding: 5px 8px;
    width: max-content;
    color: #FFF;
    background-color: #0e0e0e;
}
.box-chat-admintext {
    margin: 3px 0;
    text-align: right;
    float: right;
    clear: right;
}
.box-chat-admintext p {
    border-radius: 15px;
    padding: 5px 8px;
    text-align: right;
    width: max-content;
    background-color: #eeecec;
}

.boxchat-contents {
    height: 90%;
    overflow-y: scroll;
    margin: 5px;
}

/* width */
.boxchat-contents::-webkit-scrollbar {
    display: none !important;
  }
/* Track */
.boxchat-contents::-webkit-scrollbar-track {
    display: none !important;
}
/* Handle */
.boxchat-contents::-webkit-scrollbar-thumb {
display: none !important;
}


.dashboard-product {
    /* background-color: #fff; */
    position: relative;
}
.dashboard-table {
    width: 100%;
    border-collapse: collapse;
}
.dashboard-table tr {
    border-bottom: 1px #ddd solid;
}
.dashboard-table tr:hover {
    background-color: #f7f7f7;
}
.dashboard-table tr th, .dashboard-table tr td {
    padding-left: 10px;
}
.dashboard-table tr:nth-child(even) {
    background-color: #f7f7f7;
}
.dashboard-table tr:first-child {
    height: 40px;
    cursor: pointer;
}
.dashboard-table tr:first-child:hover {
    background-color: #fff;
}
.dashboard-table tr th {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    color: #111;
    text-align: left;
    border: none;
}
.table-title:first-child {
    width: 150px;
}
.table-new-title:first-child {
    width: 250px;
}
.table-title:last-child {
    width: 80px;
}
#Content {
    width: 250px;
}
.dashboard-table td p {
    width: 10px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 300;
    color: #555;
    text-align: left;
    width: max-content;
    /* Add ... if text is full */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
}

select {
    outline: none;
}
.action-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    color: #FFF;
    font-size: 12px;
}
.dashboard-addnew {
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}
.dashboard-addnew-btn {
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
}
.dashboard-addnew-search input {
    border: none;
    outline: none;
    border-bottom: 1px #ddd solid;
    font-size: 14px;
    width: 200px;
    padding: 5px;
    transition: .5s;
}
.dashboard-addnew-search input:focus {
    border-bottom: 1px #777 solid;
}
.dashboard-addnew-search input:hover {
    border-bottom: 1px #777 solid;
}

.DashboardProductInfo {
    width: 80%;
    left: 20%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.7);
    position: fixed;
    z-index: 13;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-box {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    overflow-y: scroll;
}
.create-box-title {
    align-items: center;
    justify-content: space-between;
}
.create-box-title-close {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.create-box-row {
    margin: 30px 0;
    width: 100%;
    justify-content: space-between;
}
.dashboard-left {
    width: 20%;
    text-align: left;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 300;
    align-items: center;
}
.dashboard-right {
    width: 70%;
    text-align: left;
}
.dashboard-right input {
    outline: none;
    border: none;
    padding: 5px 5px;
    border-bottom: 2px #ddd solid;
    height: 100%;
    width: 100%;
}
.dashboard-right input:focus, 
.dashboard-right input:hover {
    border-bottom: 2px #777 solid;
}
.dashboard-right label {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0 10px;
}
.create-box-btn {
    height: 50px;
    width: 30%;
    border: none;
    outline: none;
}
.noborder {
    outline: none !important;
    border: none !important;
}
.size-check {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 300;
    background-color: #ddd;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.isChecked {
    background-color: green;
    color: #fff;
}
.action-green {
    background-color: #50c35f;
    transition: .5s;
}
.action-green:hover {
    background-color:#40a33f;
}
.action-red {
    background-color: #fc4455;
    transition: .5s;
}
.action-red:hover {
    background-color: #fc0005;
}
.create-box-img {
    width: 70px;
    height: 70px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}
.create-box-img img {
    position: relative;
    width: 100%;
    height: 100%;
}
.create-box-img-overlay {
    top: 0;
    left: 0;
    position: absolute;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
.create-box-img-overlay .icon {
    position: absolute;
    top: 0;
    right: 3px;
    color: #777;
    cursor: pointer;
}
.create-box-img-overlay .icon:hover {
    color: #222;
}


.DashboardEditor {
    height: 500px;
    border: 1px solid #eee;
}