.loading-page {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    position: fixed;
    transition: opacity 1.5s;
}
.disable-loading {
    opacity: 0;
    visibility: hidden;
}
.loading-page-container {
    position: absolute;
    width: 100%;
}
.loading-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0;
    transition: opacity 1s;
    font-family: fmain;
    line-height: normal;
    color: #000;
    font-weight: normal;
    letter-spacing: 10px;
    /* white-space: nowrap; */
    width: 100%;
    padding: 0 50px;
    word-wrap: break-word;
}
.hello {
    animation-name: hello;
    animation-duration: 2s;
    animation-iteration-count: initial;
}
@keyframes hello {
    0% {
        opacity: 0;
        color: #ddd;
    }
    50% {
        opacity: 1;
        color: #000;
    }
    100% {
        opacity: 0;
        color: #ddd;
    }
}
.welcome {
    animation-name: welcome;
    animation-duration: 2s;
    animation-delay: 1.7s;
    animation-iteration-count: infinite;
}
@keyframes welcome {
    0% {
        opacity: 0;
        color: #ddd;
    }
    50% {
        opacity: 1;
        color: #000;
    }
    100% {
        opacity: 0;
        color: #ddd;
    }
}

@media only screen and (max-width: 660px) {
    .loading-text {
        letter-spacing: 7px;
    }
}
@media only screen and (max-width: 510px) {
    .loading-text {
        letter-spacing: 5px;
    }
}
@media only screen and (max-width: 470px) {
    .loading-text {
        padding: 0 20px;
        letter-spacing: 3px;
    }
}
@media only screen and (max-width: 370px) {
    .loading-text {
        font-size: 18px;
    }
}
@media only screen and (max-width: 335px) {
    .loading-text {
        padding: 0;
    }
}