.NewsContent {
    margin-top: 100px;
    padding: 25px 70px;
}
.newscontent-title {
    margin-top: 20px;
    font-weight: 400;
    font-size: 40px;
    text-transform: capitalize;
}
.newscontent-share {
    width: 100%;
    margin: 40px 0;
}
.icon-box {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin: 0 10px;
    color: #fFF;
    font-size: 18px;
}
.newscontent-content p {
    width: 80%;
    color: #777;
    text-align: justify;
}
.newscontent-pag {
    margin: 40px 0;
}
.newscontent-pag-container {
    width: 80%;
    background-color: red;
}