.NewsContent {
    margin-top: 100px;
    padding: 25px 70px;
} 
.newscontent-title {
    margin-top: 20px;
    font-weight: 400;
    font-size: 40px;
    text-transform: capitalize;
}
.newscontent-title img {
    height: 60vw;
}
.newscontent-share {
    width: 100%;
    margin: 40px 0;
}
.icon-box {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    margin: 0 10px;
    color: #fFF;
    font-size: 18px;
}
.newscontent-content p {
    width: 80%;
    color: #777;
    text-align: justify;
}
.newscontent-pag {
    margin: 40px 0;
}
.newscontent-pag-container {
    width: 80%; 
}
.newscontent-content {
    flex-direction: column; 
}
@media only screen and (max-width: 820px) { 
    .NewsContent { 
        padding: 10px 50px;
    } 
}
@media only screen and (max-width: 820px) { 
    .NewsContent { 
        padding: 10px 50px;
    }
}
@media only screen and (max-width: 650px) { 
    .NewsContent { 
        padding: 10px 30px;
    }
}
@media only screen and (max-width: 400px) { 
    .NewsContent { 
        margin-top: 70px;
        padding: 10px 15px;
    }
    .newscontent-title {
        font-size: 22px;
    }
}