.ProductQuickView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    background: rgba(1, 1, 1, 0.9);
    transition: .5s;
}
.ProductQuickView:hover {
    cursor: crosshair;
}
.productquickview-container:hover {
    cursor: pointer;
}
.productquickview-container {
    width: 90%;
    background-color: #fff;
    z-index: 1000;
    position: relative;
}
.productquickview-slide {
    width: 50%;
    height: 100%;
}
.slick-slider, .slick-list, .slick-track, .slick-track div {
    height: 100%;
}
.view-img {
    width: 100%;
    height: 100%; 
}
.view-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.view-close .icon {
    font-size: 22px;
    font-weight: 300;
}
.productquickview-tag {
    position: absolute;
    top: 20px;
    font-size: 10px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 999;
}
.productquickview-tag-item {
    line-height: 20px;
    width: 40px;
    height: 20px;
    margin: 10px 0;
}
.productquickview-tag .sale {
    background: #1cd481;
}
.productquickview-tag .hot {
    background: #fc5050;
}
.productquickview-tag .new {
    background: #fc9953;
}