
.toast {
    height: 50px;
    background-color: #b4fac5;
    color: #248d63;
    position: fixed;
    top: 110px;
    right: 0;
    transition: .6s;
    line-height: 50px;
    font-size: 14px;
    padding: 0 20px;
    opacity: 0;
    z-index: -100;
}
.toast .icon {
    margin-right: 20px;
}
.toast-show {
    z-index: 10000;
    opacity: 1;
}