* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins ,sans-serif;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.no-p {
  padding: 0 !important;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(./assets/font/Poppins-Medium.ttf);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
  z-index: 1500;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  background: rgba(204, 204, 204, 0);
  transition: .3s;
}

.Header:hover {
  background-color: #fff;
}

.active::after {
  width: 100% !important; 
  animation-name: none!important;
}

.menu {
  list-style-type: none;
  grid-column: 1/5;
  justify-content: flex-start;
}

.menu li a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
  color: #23232c;
  cursor: pointer;
  font-family: Poppins ,sans-serif;
  font-size: 12px;
  margin: 0 20px;
  padding: 5px 0px;
  letter-spacing: -1px;
  position: relative;
}

.menu li a::after {
  content: '';
  display: block;
  height: 2px;
  background: #000;
  margin-top: 3px;
  position: absolute;
  right: 0;
  bottom: -3px;
  transition: all .5s;
  width: 0;
}

.menu li a:hover::after {
  animation-name: active_line;
  animation-duration: 0.4s;
  width: 100%;
  left: 0;
}

@keyframes active_line {
  from {width: 0px;}
  to {width: 100%;}
}

.logo {
  grid-column: 5/9;
}

.cart {
  grid-column: 9/13;
  justify-content: flex-end;
}
.cart .icon {
  margin: 0 15px;
}

.cart-count {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  line-height: 20px;
}

.Banner {
  position: relative;
}
.banner-container {
  width: 100%;
  height: 100vh;
}
.banner-first {
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-image: url(./assets/S1.jpg);
  transition: 1s;
  flex-direction: column;
}

.banner-second {
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-image: url(./assets/S2.jpg);
  transition: 1s;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 130px;
  padding-bottom: 10px;
}

.banner-third {
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-image: url(./assets/S3.jpg);
  transition: 1s;
  flex-direction: column;
}

.hide {
  opacity: 0;
}

.choose-slide {
  position: absolute;
  bottom: 40px;
}

.choose-line {
  background-color: #999;
  height: 3px;
  width: 20px;
  margin: 0px 5px;
}

.choose_line_active {
  background-color: #000;
}

.choose-line:hover {
  background-color: #ddd;
}

.scrolled {
  transform: translateY(-100px);
}

.white {
  background: rgba(255, 255, 255, 1);
}

.banner-title {
  font-weight: 100;
  font-size: 60px;
  font-family: sans-serif;
  margin-top: 35px;
  margin-bottom: 25px;
}

.banner-link {
  font-size: 11px;
  margin: 0 20px;
}

.banner-link-second {
  margin-left: 180px;
}

.banner-link::after {
  content: '';
  display: block;
  height: 2px;
  background: #000;
  bottom: -3px;
}

.RecommendBanner {
  padding: 40px 40px 0px 40px;
}

.RecommendBanner-container {
  width: 100%;
  height: 100%;
}

.banner-box {
  width: 50%;
  height: 535px;
  margin: 0;
}

.banner-top {
  width: 100%;
  height: 50%;
}

.banner-top2 {
  width: 100%;
  height: 100%;
}

.banner-bottom {
  width: 100%;
  height: 50%;
}

.img-hover {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s linear;
}

.img-hover img {
  transition: transform 0.5s linear;
}

.img-hover:hover img {
  transform: scale(1.08);
}

.blackbox-center-container:hover .blackbox-center{
  opacity: 1;
  width: 80%;
  height: 80%;
  background: rgba(3, 3, 3, 0.6);
}

.blackbox-center-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackbox-center {
  width: 40%;
  height: 40%;
  transition: all .5s;
  opacity: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackbox-title {
  color: #fff;
  position: absolute;
  font-size: 50px;
  font-weight: 200;
  font-family: sans-serif;
  z-index: 100;
}

.blackbox-link {
  font-size: 16px;
  margin: 0 20px;
  margin-top: 120px;
}

.blackbox-link::after {
  content: '';
  display: block;
  height: 2px;
  background: #fff;
  bottom: -3px;
}

.blackbox-title-medium {
  font-size: 28px;
  margin-left: -120px;
  width: 200px;
  word-wrap: break;
  font-weight: 350;
}

.blackbox-link-medium {
  font-size: 14px;
  margin-left: -270px;
}


.blackbox-title-small {
  font-size: 26px;
  font-weight: 350;
}

.blackbox-link-small {
  font-size: 14px;
}

/* Home page */

.HomeTab {
  padding: 0 25px;
  margin-top: 30px;
}

.home-tab {
  height: 50px;
  margin-bottom: 10px;
}

.home-tab p {
  font-size: 15px;
  margin: 0 25px;
  color: #667;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  font-weight: bold;
}

.home-tab-active {
  color: #111 !important;
}
.home-tab-active::after {
  width: 100% !important; 
  animation-name: none!important;
}

.home-tab p:hover {
  color: #111;
}

.home-tab p::after {
  content: '';
  display: block;
  height: 2px;
  background: #000;
  margin-top: 3px;
  right: 0;
  bottom: -3px;
  transition: all .5s;
  width: 0;
  position: absolute;
}

.home-tab p:hover::after {
  animation-name: active_line;
  animation-duration: 0.4s;
  width: 100%;
  left: 0;
}

/* BestSeller */

.BestSeller, .SalesProducts, .NewProducts {
  display: flex;
  flex-wrap: wrap;
}

/* Product */

.Product {
  width: 216px;
  margin: 15px 15px 20px 15px;
  text-align: center;
}

.product-img {
  height: 257px;
  position: relative;
}
.product-img .img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s;
}

.product-title {
  margin-top: 20px;
  font-size: 14px;
  font-family: Poppins-Medium;
}

.product-price {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.product-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.product-icon {
  background-color: #252525;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  align-items: center;
  line-height: 55px;
}

.product-icon:hover {
  background-color: #000;
}

.product-cart {
  left: 50px;
  bottom: -25px;
  transition: all 0.4s;
}

.product-cart .cart-icon-right {
  margin-left: -2px;
}

.product-wishlist {
  right: 50px;
  bottom: -35px;
  transition: all 0.7s;
}

.Product:hover .product-wishlist{
  transform: translateY(-58px);
  opacity: 1;
}

.Product:hover .product-cart{
  transform: translateY(-48px);
  opacity: 1;
}