* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins ,sans-serif;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.no-p {
  padding: 0 !important;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(./assets/font/Poppins-Medium.ttf);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
  z-index: 1500;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  background: rgba(204, 204, 204, 0);
  transition: .4s ease-in-out;
}

.Header:hover {
  background-color: #fff;
}

.blacklink_header {
  color: #23232c !important;
}

.blacklink_header::after {
  background: #fff !important;
}

.Header:hover .blacklink_header {
  color: #fff !important;
}

.Header:hover .whitelink_header::after {
  background: #23232c !important;
}

.white_header:hover {
  color: #23232c !important;
}

.cart_count_news_hover {
  background-color: white !important;
  color: black !important;
}


.active::after {
  width: 100% !important; 
  animation-name: none!important;
}

.menu {
  list-style-type: none;
  grid-column: 1/5;
  justify-content: flex-start;
}

.menu li a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
  color: #23232c;
  cursor: pointer;
  font-family: Poppins ,sans-serif;
  font-size: 12px;
  margin: 0 20px;
  padding: 5px 0px;
  letter-spacing: -1px;
  position: relative;
}

.white_header {
  color: white;
}

.whitelink_header {
  color: white !important;
}

.menu li a::after {
  content: '';
  display: block;
  height: 2px;
  background: #000;
  margin-top: 3px;
  position: absolute;
  right: 0;
  bottom: -3px;
  transition: all .5s;
  width: 0;
}

.whitelink_header::after {
  background: white !important;
}

.menu li a:hover::after {
  animation-name: active_line;
  animation-duration: 0.4s;
  width: 100%;
  left: 0;
}

@keyframes active_line {
  from {width: 0px;}
  to {width: 100%;}
}

.logo {
  grid-column: 5/9;
}

.cart {
  grid-column: 9/13;
  justify-content: flex-end;
}
.cart .icon {
  margin: 0 15px;
}

.cart-count {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  line-height: 20px;
}

.cart_count_news {
  background-color: white;
  color: black;
}

.Banner {
  position: relative;
}
.banner-container {
  width: 100%;
  height: 100vh;
}
.banner-first {
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-image: url(./assets/S1.jpg);
  transition: 1s;
  flex-direction: column;
}

.banner-second {
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-image: url(./assets/S2.jpg);
  transition: 1s;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 130px;
  padding-bottom: 10px;
}

.banner-third {
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-image: url(./assets/S3.jpg);
  transition: 1s;
  flex-direction: column;
}

.hide {
  opacity: 0;
}

.choose-slide {
  position: absolute;
  bottom: 40px;
}

.choose-line {
  background-color: #999;
  height: 3px;
  width: 20px;
  margin: 0px 5px;
}

.choose_line_active {
  background-color: #000;
}

.choose-line:hover {
  background-color: #ddd;
}

.scrolled {
  transform: translateY(-100px);
}

.white {
  background: rgba(255, 255, 255, 1);
}

.banner-title {
  font-weight: 100;
  font-size: 60px;
  font-family: sans-serif;
  margin-top: 35px;
  margin-bottom: 25px;
}

.banner-link {
  font-size: 11px;
  margin: 0 20px;
}

.banner-link-second {
  margin-left: 180px;
}

.banner-link::after {
  content: '';
  display: block;
  height: 2px;
  background: #000;
  bottom: -3px;
}

.RecommendBanner {
  padding: 40px 40px 0px 40px;
}

.RecommendBanner-container {
  width: 100%;
  height: 100%;
}

.banner-box {
  width: 50%;
  height: 535px;
  margin: 0;
}

.banner-top {
  width: 100%;
  height: 50%;
}

.banner-top2 {
  width: 100%;
  height: 100%;
}

.banner-bottom {
  width: 100%;
  height: 50%;
}

.img-hover {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s linear;
}

.img-hover img {
  transition: transform 0.5s linear;
}

.img-hover:hover img {
  transform: scale(1.08);
}

.blackbox-center-container:hover .blackbox-center{
  opacity: 1;
  width: 80%;
  height: 80%;
  background: rgba(3, 3, 3, 0.6);
}

.blackbox-center-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackbox-center {
  width: 40%;
  height: 40%;
  transition: all .5s;
  opacity: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackbox-title {
  color: #fff;
  position: absolute;
  font-size: 50px;
  font-weight: 200;
  font-family: sans-serif;
  z-index: 100;
}

.blackbox-link {
  font-size: 16px;
  margin: 0 20px;
  margin-top: 120px;
}

.blackbox-link::after {
  content: '';
  display: block;
  height: 2px;
  background: #fff;
  bottom: -3px;
}

.blackbox-title-medium {
  font-size: 28px;
  margin-left: -120px;
  width: 200px;
  word-wrap: break;
  font-weight: 350;
}

.blackbox-link-medium {
  font-size: 14px;
  margin-left: -270px;
}


.blackbox-title-small {
  font-size: 26px;
  font-weight: 350;
}

.blackbox-link-small {
  font-size: 14px;
}

/* Home page */

.HomeTab {
  padding: 0 25px;
  margin-top: 30px;
}

.home-tab {
  height: 50px;
  margin-bottom: 10px;
}

.home-tab p {
  font-size: 15px;
  margin: 0 25px;
  color: #667;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  font-weight: bold;
}

.home-tab-active {
  color: #111 !important;
}
.home-tab-active::after {
  width: 100% !important; 
  animation-name: none!important;
}

.home-tab p:hover {
  color: #111;
}

.home-tab p::after {
  content: '';
  display: block;
  height: 2px;
  background: #000;
  margin-top: 3px;
  right: 0;
  bottom: -3px;
  transition: all .5s;
  width: 0;
  position: absolute;
}

.home-tab p:hover::after {
  animation-name: active_line;
  animation-duration: 0.4s;
  width: 100%;
  left: 0;
}

/* BestSeller */

.BestSeller, .SalesProducts, .NewProducts {
  display: flex;
  flex-wrap: wrap;
}

/* Product */

.Product {
  width: 216px;
  margin: 15px 15px 20px 15px;
  text-align: center;
}

.product-img {
  height: 257px;
  position: relative;
}
.product-img .img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s;
}

.product-title {
  margin-top: 20px;
  font-size: 14px;
  font-family: Poppins-Medium;
}

.product-price {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.product-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.product-icon {
  background-color: #252525;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  align-items: center;
  line-height: 55px;
}

.product-icon:hover {
  background-color: #000;
}

.product-cart {
  left: 50px;
  bottom: -25px;
  transition: all 0.4s;
}

.product-cart .cart-icon-right {
  margin-left: -2px;
}

.product-wishlist {
  right: 50px;
  bottom: -35px;
  transition: all 0.7s;
}

.Product:hover .product-wishlist{
  transform: translateY(-58px);
  opacity: 1;
}

.Product:hover .product-cart{
  transform: translateY(-48px);
  opacity: 1;
}

/* Collection */

.collection-container {
  width: 100%;
  display: flex;
}

.collection-box {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.collection-box img {
  width: 100%;
  height: 100%;
  transition: .7s;
  display: block;
}

.collection-box:hover img {
  transform: scale(1.1);
}

.collection-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  flex-direction: column;
  color: #fff;
  font-family: Poppins-Medium;
}

.collection-title {
  font-size: 32px;
  font-weight: 100;
  font-weight: 300;
  margin-bottom: 20px;
}

.collection-link {
  font-size: 16px;
  position: relative;
}

.collection-link::after {
  content: '';
  height: 2px;
  background: #fff;
  margin-top: 3px;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 100%;
}

/* Fashion News */

.FashionNews, .Service {
  padding: 0 40px;
  margin-top: 65px;
}

.news-container {
  width: 100%;
  height: 100%;
}

.news-title {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  font-family: sans-serif;
}

.news-box {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.News {
  width: 33.3%;
  padding: 0 15px;
  overflow: hidden;
}

.News .news-img {
  width: 100%;
  height: 240px;
  overflow: hidden;
  margin-bottom: 10px;
}

.News .news-img img {
  transition: .5s;
  width: 100%;
  height: 100%;
}

.News .news-img:hover img {
  transform: scale(1.1);
}

.news-container .news-line {
  margin-top: 20px;
  background-color: #eee;
  height: 1px;
}

.new-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-time {
  font-size: 12px;
  margin: 10px 10px;
  font-weight: 500;
  color: #bbb;
}

.news-cate {
  font-size: 12px;
  margin: 10px 10px;
  font-weight: 500;
  color: #111;
}

.news-title-box {
  text-align: center;
  word-wrap: break-word;
  padding: 0 30px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
  font-family: Poppins-medium;
}

.news-content {
  color: #777;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
  height: 38px;
  text-overflow: ellipsis;
  position: relative;
  /* Add ... if text is full */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
}

.news-link {
  text-align: center;
  margin-bottom: 20px;
}

.news-link a {
  font-size: 12px;
  position: relative;
  width: 200px;
  color: #000;
  text-decoration: none;
}

.news-link a::after{
  content: '';
  display: block;
  height: 2px;
  background: #000;
  margin-top: 3px;
  right: 0;
  bottom: -3px;
  width: 100%;
  position: absolute;
}

.pagnigation {
  width: 90px;
}

.pagnigation div {
  cursor: pointer;
  width: 30px;
  text-align: center;
  font-size: 14px;
  color: #777;
  text-decoration: underline;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pagnigation div:hover {
  color: #111 !important;
  text-decoration: none !important;
}

.pagnigation-active {
  color: #111 !important;
  text-decoration: none !important;
}

.pagnigation_disable {
  cursor: default;
  pointer-events: none;
  color: #eee !important;
  /* display: none; */
}
/* Newsletter */

.Newsletter {
  height: 232px;
  padding: 0 40px;
}

.newsletter-container {
  flex-direction: column;
  height: 100%;
  position: relative;
}

.newsletter-title {
  font-size: 23px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
  font-family: Poppins-medium;
}

.newsletter-small {
  margin-bottom: 35px;
  color: #777;
  font-size: 14px;
}

.newsletter-container .newsletter-line {
  margin-top: 20px;
  background-color: #eee;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.newsletter-input {
  width: 720px;
  height: 50px;
  border: none;
  transition: .7s;
  border-bottom: 2px #ddd solid;
  padding: 0 20px;
  margin-right: 10px;
  font-size: 14px;
}

.newsletter-input:hover {
  border-bottom: 2px #111 solid;
}

.newsletter-input:focus {
  outline: none !important;
}

.newsletter-btn {
  width: 100px;
  height: 50px;
  margin-left: 10px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  position: relative;
  transition: .7s;
}

.newsletter-btn:hover::after {
  background: #000;
}

.newsletter-btn::after{
  content: '';
  display: block;
  height: 2px;
  background: #ddd;
  margin-top: 1px;
  right: 0;
  bottom: -3px;
  width: 100%;
  position: absolute;
}

/* Footer */

.Footer {
  padding: 0 40px;
  height: 90px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 12px;
}

.footer-container a {

  text-decoration: none;
  color: #778;
  margin: 0 15px;
}

.footer-left {
  height: 100%;
  display: flex;
  align-items: center;
}
.footer-right {
  height: 100%;
  display: flex;
  align-items: center;
} 

.cr {
  color: #000 !important;
}

.cart-icon-footer {
  color: #778;
  margin: 0 15px;
}

.cart-icon-footer:last-child {
  margin-right: 0;
}

.footer-left a:first-child {
  margin-left: 0;
}

/* Service  */

.Service {
  position: relative;
}

.service-container {
  position: relative;
  width: 100%;
}

.service-box {
  flex-direction: column;
  margin-bottom: 40px;
}

.service-title {
  text-align: center;
  margin: 35px 0;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  color: #111;
}

.service-content {
  text-align: center;
  font-size: 14px;
  color: #777;
  padding: 0 20px;
}

.service-line {
  margin-top: 20px;
  background-color: #eee;
  height: 1px;
  width: 100%;
  bottom: 0;
}

/* NewsBanner */

.NewsPages {
  height: 500px;
}

.NewsBanner {
  height: 100%;
}

.newsbanner-container {
  height: 100%;
  background-image: url(./assets/newsbanner.jpg);
  padding: 175px 0;
  margin: 0;
  border: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f1f2f4;
  position: relative;
}

.newsbanner-container img {
  width: 100%;
  height: 100%;
}

.newsbanner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  flex-direction: column;
  color: #fff;
}

.newsbanner-title {
  font-size: 5rem;
  font-weight: 300;
  font-family: sans-serif;
  /* margin-top: -40px; */
  margin-bottom: 30px;
}

.newsbanner-nav {
  display: flex;
  padding: 0 0 25px;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  color: #FFF;
}

.newsbanner-nav div {
  margin: 0 20px;
  position: relative;
  text-transform: capitalize;
}

.newsbanner-nav div::after {
  content: '';
  display: block;
  height: 2px;
  background: #fff;
  margin-top: 3px;
  position: absolute;
  right: 0;
  bottom: -10px;
  transition: all .5s;
  width: 0%;
}

.newsbanner-nav div:hover::after {
  animation-name: active_line;
  animation-duration: 0.4s;
  width: 100%;
  left: 0;
}

.newsbanner-nav-active::after {
  width: 100% !important; 
  animation-name: none!important;
}

.newsbanner-breadcrumb {
  font-size: 12px;
}

.newsbanner-breadcrumb div {
  margin: 0 10px;
  text-transform: capitalize;
}

/* NewsBody */

.NewsBody { 
  padding: 0 55px;
  margin-top: -50px;
}

.newsbody-container { 
  padding-top: 50px;
  display: flex;
}

.newsbody-post { 
  width: 70%;
  padding: 0 15px;
  margin-right: 25px;
  position: relative;
}

.newsbody-big { 
  flex-direction: column;
  position: relative;
}

.newsbody-small {
  /* background-color: green; */
  margin-top: 30px;
}

.newsbody-small-container {
  /* background-color: green; */
  display: flex;
  position: relative;
  align-items: center;
}

.newsbody-big-img {
  width: 100%;
}

.newsbody-small-img {
  width: 50%;
  height: 100%;
}

.newsbody-info {
  font-size: 12px;
  margin: 10px 10px;
  font-weight: 500;
  color: #111;
  text-transform: uppercase;
  margin-top: 30px;
}

.newsbody-info div {
  margin: 0 10px;
}

.newsbody-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

.newsbody-content {
  font-size: 12px;
  color: #777;
  height: 35px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 90%; 
}

.newsbody-small-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px 20px 40px;
}

.newsbody-small-info {
  font-size: 11px;
  font-weight: 500;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.newsbody-small-info .newsbody-cate {
  margin-left: 20px;
}

.newsbody-smaill-line {
  background-color: #eee;
  height: 1px;
  width: 100%;
  margin-top: 30px;
  bottom: 20px;
}

.newsbody-small-left .newsbody-content {
  text-align: left;
}

.newsbody-small-left .newsbody-title {
  text-align: left;
  width: 100%;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 500;
}

.newsbody-small-left .newsbody-content {
  text-align: left;
  width: 100%;
}

.newsbody-link {
  font-size: 12px;
  margin-top: 30px;
  position: relative;
}

.newsbody-link::after {
  content: '';
  height: 2px;
  background: #777;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
}

.newsbody-link:hover::after {
  background: #111;
  animation-name: active_line;
  animation-duration: 0.4s;
}

/* NewsBody-Navbar */

.newsbody-widget {
  width: 30%;
  margin-left: 25px;
}

.widget-search {
  padding: 0 0 40px;
  margin: 0 0 40px;
  border-bottom: 1px solid #f1f2f4;
}

.widget-title {
  font-size: 19px;
  font-family: sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0 0 30px;
}

.widget-form {
  border-bottom: 2px solid #f1f2f4;
}

.widget_search_click {
  border-bottom: 2px solid #23232c;
  transition: 1s;
}

.widget-form input {
  height: 50px;
  font-size: 12px;
  border: none;
  border-radius: 0;
  font-weight: 400;
  padding: 10px 50px 10px 0;
  transition: all .5s;
}

.widget-form input:focus {
  outline: none !important;
}

.widget-form button {
  border: none;
  background: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #232323;
  font-family: sans-serif;
}

.widget-pop {
  border-bottom: 1px solid #f1f2f4;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.widget-post {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.widget-post-img {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.widget-post-info {
  word-wrap: break-word;
  height: 100px;
  width: 70%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget-post-info2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.widget-post-title {
  width: 100%;
  font-size: 12px;
  margin-bottom: 10px;
}

.widget-post-time {
  font-size: 10px;
  margin-right: 40px;
}

.widget-post-view {
  font-size: 10px;
  font-size: 8px;
  color: #999;
}

.widget-cate {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f1f2f4;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.widget-cate-div {
  display: flex;
  justify-content: space-between;
}

.widget-cate-div div {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
  color: #111;
}

.widget-cate-count {
  color: #666 !important;
  font-weight: bold;
}

.widget-connect-container {
  display: flex;
}

.widget-connect {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f1f2f4;
}

.widget-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: 1px #ddd solid;
  border-radius: 50%;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-icon:hover {
  border: 1px #111 solid;
}

.NewsPages .ccc {
  width: 100px;
  height: 100px;
  background-color: red;
}

.newsbody-line {
  margin-top: 20px;
  background-color: #eee;
  height: 1px;
  width: 100%;
  bottom: 0;
}

.newspagnigation-container {
  /* background-color: red; */
}

.newspagnigation {
  display: flex;
  font-size: 20px;
  margin-top: 20px;
}
.newspagnigation div {
  cursor: pointer;
  width: 30px;
  text-align: center;
  color: #777;
  text-decoration: underline;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.newspagnigation div:hover {
  color: #111 !important;
  text-decoration: none !important;
}

.newspagnigation-active {
  color: #111 !important;
  text-decoration: none !important;
}

.newspagnigation_disable {
  cursor: default;
  pointer-events: none;
  color: #eee !important;
  display: none;
}